<template name="navbar">
  <nav class="navbar navbar-inverse bg-crimson max-40">
    <div class="container">
      <div class="top-menu">
        <ul class="nav navbar-nav hidden-xs navbar-right">
          <li><a href="#">About Us</a></li>
          <li><a href="#">Careers</a></li>
          <li><a href="about">Resources</a></li>
          <li><a href="login">CALI Press</a></li>
          <li><a href="login">Contact Us</a></li>
          {{#if currentUser}}
            <li><a href="profile" class="">Welcome, {{currentUser.first_name}}</a></li>
            <li><a href="" class="logout">Sign Out</a></li>
          {{else}}
            <li><a href="login">Sign In</a></li>
          {{/if}}
        </ul>
      </div>
    </div>
  </nav>

  <header class="navbar navbar-default navbar-static-top bg-dark-brown" id="top" role="banner">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">
          <!-- <i class="fa fa-globe"></i> -->
          The Esteban Project
        </a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <!-- <ul class="nav navbar-nav">
          <li><a href="#" class="alt">#English <span class="sr-only">(current)</span></a></li>
          <li><a href="#">#Bahasa</a></li>
          <li><a href="#">#中文</a></li>
          <li><a href="#">#ภาษาไทย</a></li>
          <li><a href="#">#ភាសាខ្មែរ</a></li>
          <li><a href="#">#Tiếng Việtរ</a></li>
        </ul> -->
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#">Upcoming Programs</a></li>
          <li><a href="#">Asia Leadership Trek</a></li>
          <li><a href="about">Asia Leadership Institute</a></li>
          <li><a href="login">Acumen Case Center</a></li>
          <!-- <li>{{> loginButtons}}</li> -->
          <!-- <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Quick Links<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">Separated link</a></li>
            </ul>
          </li> -->
        </ul>
      </div>
    </div>
  </header>
</template>