.btn {
  font-family: $sans-serif;
}

.btn-primary {
  // background-color: $light_blue;
  border-radius: 0px;
  // border: 0px;
  color: white;

  &:hover, &:active, &:focus {
    // background-color: $green_darker;
    color: $white;
  }
}
.btn-default {
  border-radius: 0px !important;

  &:hover, &:active, &:focus {
    background-color: $green !important;
    color: $white;
    border: 1px solid $green !important;
  }
}

.btn-cta {
  // margin-top: 24px;
  width: 100%;
  margin-bottom: 16px;
  // background-color: $primary;
}

.btn-white {
  // margin-top: 24px;
  width: 100%;
  background-color: $white;
  color: $primary;
  border-radius: 0px;
  border: 0px;
}