.primary {
  color: $primary;
}
.white {
  color: $white;
}
.crimson {
  color: $crimson;
}
.margin-bottom-10 {
  margin-bottom: 6px;
}
.margin-bottom-30 {
  margin-bottom: 30px;
}
.margin-left-10 {
  margin-left: 10px;
}
.margin-top-0 {
  margin-top: 0px;
}
.padding-right-20 {
  padding-right: 20px;
}
.text-larger {
  font-size: 110%;
}
.text-largest {
  font-size: 125%;
}
.bold {
  // font-family: "Raleway";
  font-weight: 700;
}
.italic {
  font-style: italic;
}
.pointer {
  cursor: pointer;
}
.green {
  color: $green;
}
.sourceEmployer, .sourceDeposit {
  @extend .white;
}

.background-green {
  background-color: $green;
  color: $white;
}

.bg-white {
  background-color: $white;
}
.bg-primary {
  background-color: $primary;
}
.bg-grey {
  background-color: $bg-grey;
}
.bg-crimson {
  background-color: $crimson;
}
.bg-dark-brown {
  background-color: $dark_brown;
}
.bg-light-red {
  background-color: $light-red;
}
.bg-green {
  background-color: $green;
}
.outline-crimson {
  border: 2px solid $crimson;
  background-color: transparent;
}
.lora {
  font-family: "Lora", Georgia, serif;
}
.max-40 {
  max-height: 40px;
}