// Color
$black: #000;
$white: #fff;
$white_20: rgba(255, 255, 255, 0.2);
// $light_blue: #63AEEC;
$light_blue: #339B54;
$green: #339B54;
$green_darker: #277C43;

$bg-grey: #EDF0F5;

// More colors
$mountain_mist: #4A4A4A;
$lilac: #f8f9fb;

$primary: #E94E77;
$primary-darker: #BA254D;

$sans-serif: "Helvetica Neue", "Open Sans", sans-serif;
$serif: "Lora", Georgia, serif;

$dark_brown: #443a36;

$crimson: #bf1e2d;
