@import 'variables';
@import 'hacks';
@import 'responsive';
@import 'betterwebsite';
@import 'buttons';
@import 'navbar';
@import 'content';

body {
  background-color: $white;

  // Readability
  color: $mountain-mist;
  font-family: "Lora", Georgia, serif;
  -webkit-font-smoothing: antialiased;
  text-shadow: rgba(0,0,0,.01) 0 0 1px;
}

ol, ul {
  list-style: none;
  -webkit-padding-start: 0px;
}

footer {
  background-color: $white;
  padding: 42px 0px;
  font-family: $sans-serif;
}

.legal {
  padding-top: 30px;
  color: #999;
}

.section-title {
  font-weight: 600;
  text-transform: uppercase;
  font-family: "Raleway";
  color: $mountain-mist;
}

.engagements {
  margin: 60px 0px;

  .panel-body {
    .title {
      color: $white;
      font-family: $sans-serif;
    }
    p {
      color: $white;
    }
  }
}

.title {
  font-family: $sans-serif;
}

.partners {
  margin: 60px 0px;
}

.first-landing-container {
  padding-top: 40px;
}

.top-container {
  padding-top: 60px;
}

p {
  margin-bottom: 30px;
  line-height: 2;
  font-size: 15px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $sans-serif;
}